.reveal pre,
.reveal code {
	overflow: hidden !important;
}

.reveal pre {
	box-shadow: none;
}

section {
    text-transform: none !important;
    font-family: 'IBM Plex Sans Thai' !important;
}

.slide-background-content {

	/* background-color: red !important; */
	/* background: rgb(31,39,108); */
	background: linear-gradient(0deg, rgba(10,10,80,1) 0%, rgba(10,60,10,1) 100%);
}
p {
	padding: 0 !important;
	margin: 0 !important;	
	font-family: 'IBM Plex Sans Thai' !important;
}

h1 {
	font-size: 1em !important;
	font-family: 'IBM Plex Sans Thai' !important;
}

